

*::first-letter{
    text-transform: uppercase !important;
  }
  .fa-edit:hover{
    color: #186480;
    }
    .fa-trash-alt:hover{
      color: red;
    }
    a:hover,
    a:focus {
    color: #62c462;
  }
  .cmt,.s,.ds{
    color: #1e83ae;
  }
  .s:hover{
    color: green !important;
  }
  .ds:hover{
  color: red !important;
  }
  .s:focus{
    background: green !important;
  }
  i:hover{
    cursor: pointer;
  }
  .up{
    margin-left:-8px;
  }
  /* .div{
    border: 1px solid #80808061;
  } */
  #multi-pic{
    border: 1px solid white;
  }
  .multi-pic1:hover{
  cursor: pointer;
  }
  multi-pic2:hover{
  cursor: pointer;
  }
  multi-pic3:hover{
  cursor: pointer;
  }
  multi-pic4:hover{
  cursor: pointer;
  }
  .up{
    background-position: center center !important;
    background-size: cover !important;
    border-radius: 50% !important;
    box-shadow: 0px 6px 5px #ccc !important;
  }
  .ap{
    background-position: center center !important;
    background-size: cover !important;
    box-shadow: 0px 6px 5px #ccc !important;
    width: 80px !important;
    height: 50px !important;
    border-radius: 3px;
  }
  .matcard{
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 4px;
  }
  .title{
    color: #00775f;
    font-size: 16px;
  }
  
  .right{
    border-left: solid 1px #dee2e6;
  }
  
  .btn-info{
    color: #fff !important;
    background-color: #00775f !important;
    padding: .5rem 1.6rem;
    font-size: .64rem;
    border: 0;
    text-transform: uppercase;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  .btn-info:hover{
    box-shadow: 0 6px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  .show{
    display: block;
  }
  .hide{
    display: none;
  }
  .hover:hover{
    cursor: pointer;
  }
  .toggleCommentDiv{
    /* border: 1px solid lightblue; */
    border: 1px solid rgb(0 0 0 / 13%);
    background: #f8f9fa;
  }
  .choosefile{
    font-size: 14px !important;
  
  }
  /* sub replies */
  
  
  /* 
  .comment-container {
    width: 60%;
    margin: 2rem auto;
  } */
  
  a {
    color: #c40030;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  .v-btn {
    align-items: center;
    border-radius: 2px;
    display: inline-flex;
    height: 36px;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    margin: 6px 8px;
    min-width: 88px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 16px;
  }
  
  .v-btn:before {
    border-radius: inherit;
    color: inherit;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0.12;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
  }
  
  .v-btn:focus,
  .v-btn:hover {
    position: relative;
  }
  
  .v-btn:focus:before,
  .v-btn:hover:before {
    background-color: currentColor;
  }
  
  .v-btn__content {
    align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
    width: inherit;
  }
  
  .v-btn:not(.v-btn--depressed):not(.v-btn--flat) {
    will-change: box-shadow;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .v-btn:not(.v-btn--depressed):not(.v-btn--flat):active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    margin-left: -42px;
    border-radius: 50%;
  }
  
  .v-avatar {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }
  
  .v-avatar img {
    border-radius: 50%;
    display: inline-flex;
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
  
  .v-card {
    text-decoration: none;
  }
  
  .v-card > :first-child:not(.v-btn):not(.v-chip) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  
  .v-card > :last-child:not(.v-btn):not(.v-chip) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  
  .v-sheet {
    display: block;
    border-radius: 2px;
    position: relative;
  }
  
  .v-dialog__container {
    display: inline-block;
    vertical-align: middle;
  }
  
  .elevation-2 {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  }
  
  a:active,
  a:hover {
    outline-width: 0;
  }
  
  button {
    font: inherit;
    overflow: visible;
    text-transform: none;
    background-color: transparent;
    border-style: none;
    color: inherit;
  }
  
  [type="button"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border-style: 0;
    padding: 0;
  }
  
  [type="button"]::-moz-focus-inner,
  button:-moz-focusring {
    outline: 0;
    border: 0;
  }
  
  button,
  html [type="button"] {
    -webkit-appearance: button;
  }
  
  img {
    border-style: none;
  }
  
  ::-ms-clear,
  ::-ms-reveal {
    display: none;
  }
  
  .headline {
    font-weight: 400;
    letter-spacing: normal !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }
  
  .title {
    font-size: 16px !important;
    font-weight: 700;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
  }
  
  .caption {
    font-weight: 400;
    font-size: 12px !important;
    color: #989c9e;
  }
  
  .theme--light.v-btn {
    color: rgba(0, 0, 0, 0.87);
  }
  
  .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: #f5f5f5;
  }
  
  .theme--light .v-card {
    box-shadow: rgba(0, 0, 0, 0.11) 0 15px 30px 0px,
      rgba(0, 0, 0, 0.08) 0 5px 15px 0 !important;
  }
  .theme--light .v-card:hover{
    border-right:3px solid #ff5851 ;
  }
  
  .theme--light.application .v-card {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
    color: #102c3c !important;
  }
  
  .theme--light.v-card,
  .theme--light.v-sheet {
    background-color: #fff;
    border-color: #f0f8ff;
    color: rgba(0, 0, 0, 0.87);
  }
  
  a,
  a:hover {
    text-decoration: none !important;
  }
  
  .wrapper {
    overflow: auto;
  }
  
  .answers {
    padding-left: 64px;
  }
  
  .comment {
    overflow-y: auto;
    margin-left: 32px;
    margin-right: 16px;
  }
  
  .comment p {
    font-size: 14px;
    margin-bottom: 7px;
  }
  
  .displayName {
    margin-left: 24px;
  }
  
  .actions {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .google-span[data-v-35838f51] {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .google-button[data-v-35838f51] {
    background-color: #fff;
    height: 40px;
    margin: 0;
  }
  
  .headline {
    margin-left: 32px;
  }
  
  .sign-in-wrapper {
    margin-top: 16px;
    margin-left: 32px;
  }
  
  
  .error-message {
    font-style: oblique;
    color: #c40030;
  }
  
  ::-moz-selection,
  ::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
  }
  .card {
    padding: 6px 6px 6px 30px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
  }
  
  .application a,
  [type="button"],
  button {
    cursor: pointer;
  }
  
  @media screen and (max-width: 640px) {
    .comment-container {
      width: 90%;
    }
    .comments {
      padding: 32px;
    }
  }
   /* file upload button css  */
   .file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
  .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
  .file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
  .file-upload .file-select.file-select-disabled{opacity:0.65;}
  .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
  
  /* reply btn css  */
  /* for show comments button */
  .sc{
    width: auto !important;
    padding: 9px 10px !important;
    background: #00775f !important;
  }
  .sc:hover{
    cursor: pointer;
    background: #00775f !important;
  }
  
  /* backbtn  */
  .hr{
    margin-top: 4rem !important;
  }