<div class="Mainsec">
  <div class="container-fluid">
    <div class="header_now">
      <div class="div_right my-3">
        <h5 class="font-weight-bold fnt-zs">Add Role</h5>
      </div>
    </div>

    <div class="star card p-3 cardHeigt">
      <div class="container">
        <div class="row">
          <div class="fancy-tab-form text-white my-1 text-center px-0">
            <!-- TAB HEADER -->
            <div class="tab-header d-flex">

                <div class="btn-group btn-group-lg w-100">
                    <button type="button" class="btn btn-primary1 text-white" [ngClass]="{ active: role }"
                    (click)="roleView()">Add Role</button>
                    <button type="button" class="btn btn-primary1 text-white" [ngClass]="{ active: usertype }"
                    (click)="usertypeView()">Add User Type</button>
                    
                  </div>


             
           
            </div>
            <!--  -->
            <div class="tab-body">
              <div [ngClass]="role ? 'show' : 'hide'" class="role">
                <div class="mt-5">
                  <input
                    type="text"
                    [(ngModel)]="roleName"
                    class="input-role"
                    placeholder="Enter Role"
                  />
                </div>

                <div class="my-3">
                  <button
                    mat-raised-button
                    (click)="addRole()"
                    [disabled]="roleName"
                  >
                    Submit
                  </button>
                </div>
              </div>
              <div [ngClass]="usertype ? 'show' : 'hide'" class="usertype">
                <div class="mt-5">
                  <input
                    type="text"
                    [(ngModel)]="usertypeName"
                    class="input-usertype"
                    placeholder="Enter usertype"
                  />
                </div>

                <div class="my-3">
                  <button
                    mat-raised-button
                    (click)="addUsertype()"
                    [disabled]="usertypeName"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
