<div class="star">

    <div class="container-fluid my-2">

        <div class="row">

            <div class="col-md-3 my-2 p-4" *ngFor="let a of assignments" (click)="goToReport(a.aid)">
                
                <mat-card [ngStyle]="styleObject(a.subject)">

                    <div class="assign p-3">
                        <div class="py-1">
                            <h6 class="title-sub ">{{ a.title }}</h6>
                        </div>
                        <h6 class="py-1">
                            {{ a.standard }}-{{ a.subject }}-{{ a.topic }}
                        </h6>
    
                        <div class="py-1">
                            <span class="">Questions :</span> {{ a.noOfQuestions }} <span>
                                Marks : {{ a.marks }}
                            </span>
                        </div>
    
                        <div class="py-2">
                            <small> <span class="">uploaded on </span>: {{ a.inTime | date:'dd-MM-yyyy' }} </small>
                        </div>
                        <div class="py-2">
                            <small> <span class="">Start Date : </span> {{ a.startDate | date:'dd-MM-yyyy' }} </small>
                        </div>
                        <div class="py-2"> 
                            <small> <span class="">End Date : </span>{{ a.endDate | date:'dd-MM-yyyy' }} </small>
                        </div>
                        <div class="py-2"> 
                            <small> <span class="">Submission : </span>{{ a.submitions }} </small>
                        </div>
                    </div>

                </mat-card>

            </div>

        </div>

    </div>

    <div class="container col-md-12 static">
        <div class="noData text-center">
          <img src="../../../assets/images/No data-amico.png" width="500" height="400">
          <h5 class="text-center pb-1">Nothing to Assess</h5>
        </div>
      </div>

</div>