<div class="star">
    <div class="backCls mb-2 mx-3">
      <div>
        <img src="../assets/images/backBtn.png" (click)="goBack()" alt="btn" />
      </div>
      <div class="font-weight-bold mx-2">Favourites</div>
    </div>
  
    <div class="container clsmax">
      <div class="row">
        <div class="card w-98 mx-3">
          <div class="generalCls">
            <div class="row">
              <div class="col-md-2 p-3">
                <div class="card crdgrn p-4">
                  <h2>
                    <strong>Maths</strong> : <span class="patchgreen">22</span>
                  </h2>
                </div>
              </div>
  
              <div class="col-md-2 p-3">
                <div class="card crdgrn p-4">
                  <h2>
                    <strong>Physics</strong> : <span class="patchgreen">20</span>
                  </h2>
                </div>
              </div>
  
              <div class="col-md-2 p-3">
                <div class="card crdgrn p-4">
                  <h2>
                    <strong>Chemistry</strong> :
                    <span class="patchgreen">15</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card w-98 my-3 p-3 mx-3">
          <div class="row">
            <h3 class="font-weight-bold">1. Algebra and Quadratic Equations</h3>
            <div class="col-md-4">
              <div class="card p-2">
                <p>Class: <span class="clrgn">10</span></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card p-2">
                <p>Subject: <span class="clrgn">Mathematics</span></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card p-2">
                <p>Topics: <span class="clrgn">Real Numbers</span></p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card w-98 my-3 p-3 mx-3">
          <div class="row">
            <h3 class="font-weight-bold">2. Algebra and Quadratic Equations</h3>
            <div class="col-md-4">
              <div class="card p-2">
                <p>Class: <span class="clrgn">10</span></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card p-2">
                <p>Subject: <span class="clrgn">Mathematics</span></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card p-2">
                <p>Topics: <span class="clrgn">Real Numbers</span></p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card w-98 my-3 p-3 mx-3">
          <div class="row">
            <h3 class="font-weight-bold">3. Algebra and Quadratic Equations</h3>
            <div class="col-md-4">
              <div class="card p-2">
                <p>Class: <span class="clrgn">10</span></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card p-2">
                <p>Subject: <span class="clrgn">Mathematics</span></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card p-2">
                <p>Topics: <span class="clrgn">Real Numbers</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  