<div class="container-header">
  <div class="header_now">
    <div class="div_right">
      <h5 class="font-weight-bold fnt-zs">User Details</h5>
    </div>
  </div>

  <div class="row">
    <table class="table mx-2">
      <thead class="header">
        <tr class="bg-primary1 text-white w-100">
          <th>Name</th>
          <th style="width: 20%">Email</th>
          <th>Mobile</th>
          <th>Standard</th>
          <th>School</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>

    <div class="body_panel">
      <table class="table">
        <tbody>
          <tr *ngFor="let user of Users" (click)="userDetails(user.userId)">
            <!-- <td>{{ user.userId }}</td> -->
            <td>{{ user.userName }}</td>
            <td style="width: 20%">{{ user.emailId }}</td>
            <td>{{ user.mobileNo }}</td>
            <td>{{ user.std }}</td>
            <td>{{ user.schoolOrCollege }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.dob | date: "d MMM yyyy" }}</td>
            <td>{{ user.address }}</td>
            <td>
              <button
                (click)="
                  Approve(
                    user.userId,
                    user.userName,
                    user.emailId,
                    user.mobileNo,
                    user.std,
                    user.schoolOrCollege,
                    user.gender,
                    user.dob,
                    user.address,
                    user.cd
                  )
                "
                style="outline: none"
                mat-icon-button
                aria-label="Example icon-button with a heart icon"
              >
                <mat-icon class="green-icon">
                  <i class="fas fa-check-circle fa-sm"></i>
                </mat-icon>
              </button>
              <button
                (click)="
                  Decline(
                    user.userId,
                    user.userName,
                    user.emailId,
                    user.mobileNo,
                    user.std,
                    user.schoolOrCollege,
                    user.gender,
                    user.dob,
                    user.address,
                    user.cd
                  )
                "
                style="outline: none"
                mat-icon-button
                aria-label="Example icon-button with a heart icon"
              >
                <mat-icon class="red-icon">
                  <i class="fas fa-wrong fa-sm"></i>
                </mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>
</div>
