.fw-600{
    font-weight: 600 !important;
}
.approval{
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.card_formus {
    border: 0px solid rgba(24, 28, 33, 0.13);
    border-radius: 0.125rem;
    box-shadow: 0 0 0 1px rgb(24 28 33 / 8%);
    background-color: #fff;
    padding: 20px;
}
.fs-18{
    font-size: 18px;
}

.btn-primary1 {
    color: #fff;
    background-color: #007755 !important;
    border-color: #007755 !important;
  }
  .container{
      padding: 20px;
  }
  