<!-- <div [ngClass]=" true ? 'bay' : 'yay' ">

    <p>class working</p>

</div> -->
<div class="container-header">
  <div class="header_now">
    <h5 class="font-weight-bold fnt-zs">Dashboard</h5>
  </div>
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner text-white">
          <h3>150</h3>

          <p>Total Number of Teachers</p>
        </div>
        <div class="icon"></div>
        <a href="#" class="small-box-footer text-white"
          >More info
          <span
            ><mat-icon
              aria-hidden="false"
              class="icon-2"
              aria-label="Example home icon"
              >arrow_forward</mat-icon
            ></span
          >
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner text-white">
          <h3>53</h3>

          <p>Total Number of Subjects</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer text-white">More info
          <span
            ><mat-icon
              aria-hidden="false"
              class="icon-2"
              aria-label="Example home icon"
              >arrow_forward</mat-icon
            ></span
          > </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning1">
        <div class="inner">
          <h3 class="text-white">240</h3>

          <p class="text-white">Live At Present Classes</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer" style="color: #fff !important"
          >More info<span
          ><mat-icon
            aria-hidden="false"
            class="icon-2"
            aria-label="Example home icon"
            >arrow_forward</mat-icon
          ></span
        >
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner text-white">
          <h3>65</h3>

          <p>Total Cancelled Classes</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer text-white">More info
          <span
            ><mat-icon
              aria-hidden="false"
              class="icon-2"
              aria-label="Example home icon"
              >arrow_forward</mat-icon
            ></span
          >
        </a>
      </div>
    </div>
    <!-- ./col -->
  </div>

  <div class="graphs">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header p-2">
            <h3 class="card-title text-white">Classes Chart</h3>
            <div class="card-tools"></div>
          </div>

          <div class="card-body">
            <img src="./assets/images/graphImages/graph1.png" class="w-100" />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header p-2">
            <h3 class="card-title text-white">Classes Chart</h3>
            <div class="card-tools"></div>
          </div>

          <div class="card-body">
            <img src="./assets/images/graphImages/graph2.png" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
