<div class="card mx-3">
  <div class="container clsmax">
    <div class="row justify-content-center">
        <div class="backCls my-3">
            <div>
              <img src="../assets/images/backBtn.png" (click)="goBack()"  alt="btn"> 
            </div>
             <div class="font-weight-bold mx-2"> Time Table</div>
          </div>
    </div>

    <div class="row">
        <div class="table table-bordered table-hover clsmax w-100">
            <tr>
                <th class="clgreen">TimeTable</th>
                <th class="clgreen">Monday</th>
                <th class="clgreen">Tuesday</th>
                <th class="clgreen">Wednesday</th>
                <th class="clgreen">Thursday</th>
                <th class="clgreen">Friday</th>
                <th class="clgreen">Saturday</th>
               
            </tr>

            <tr>
                <td>8.30AM-9.30AM</td>
                <td>Telugu</td>
                <td>Hindi</td>
                <td>English</td>
                <td>Maths</td>
                <td>Science</td>
                <td>Social</td>
            </tr>

            <tr>
                <td>9.30AM-10.30AM</td>
                <td>Telugu</td>
                <td>Hindi</td>
                <td>English</td>
                <td>Maths</td>
                <td>Science</td>
                <td>Social</td>
            </tr>

            <tr>
                <td>10.30AM-11.00AM</td>
                <td>Telugu</td>
                <td>Hindi</td>
                <td>English</td>
                <td>Maths</td>
                <td>Science</td>
                <td>Social</td>
            </tr>

            <tr>
                <td>11.30AM-12.30PM</td>
                <td>Telugu</td>
                <td>Hindi</td>
                <td>English</td>
                <td>Maths</td>
                <td>Science</td>
                <td>Social</td>
            </tr>

            
            <tr>
                <td>2.30PM-3.30PM</td>
                <td>Telugu</td>
                <td>Hindi</td>
                <td>English</td>
                <td>Maths</td>
                <td>Science</td>
                <td>Social</td>
            </tr>

            <tr>
                <td>3.30PM-4.30PM</td>
                <td>Telugu</td>
                <td>Hindi</td>
                <td>English</td>
                <td>Maths</td>
                <td>Science</td>
                <td>Social</td>
            </tr>
        </div>
    </div>

    <!-- <div class="row">

        <table class="table table-bordered fancy-table js-sans">
            <tr>
              <td></td>
              <th scope="col" class="py-2"> <span *ngFor="let d of weekdays" style="text-transform: capitalize;">{{ d.weekDay }}</span> </th>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period1_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period1_Subject }}</div> <div style="width:300px"> {{ timetable?.period1_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period2_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period2_Subject }}</div> <div style="width:300px"> {{ timetable?.period2_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period3_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period3_Subject }}</div> <div style="width:300px"> {{ timetable?.period3_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period4_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period4_Subject }}</div> <div style="width:300px"> {{ timetable?.period4_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period5_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period5_Subject }}</div> <div style="width:300px"> {{ timetable?.period5_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period6_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period6_Subject }}</div> <div style="width:300px"> {{ timetable?.period6_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period7_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period7_Subject }}</div> <div style="width:300px"> {{ timetable?.period7_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period8_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period8_Subject }}</div> <div style="width:300px"> {{ timetable?.period8_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period9_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period9_Subject }}</div> <div style="width:300px"> {{ timetable?.period9_Teacher }} </div> </div>  </td>
            </tr>
            <tr>
                <th scope="row">{{ timeslots?.period10_timeSlot }}</th>
                <td> <div class="d-flex"> <div style="width:300px">{{ timetable?.period10_Subject }}</div> <div style="width:300px"> {{ timetable?.period10_Teacher }} </div> </div>  </td>
            </tr>
          </table>

    </div> -->
  </div>
</div>
