<div class="container-fluid">
  <h2>Responsive Table</h2>
  <p>
    The .table-responsive class adds a scrollbar to the table when needed:
  </p>

  <div class="table-responsive">
    <table class="table table-bordered lstblc1">
      <thead>
        <tr>
          <!-- <th rowspan="3">#S.no</th>
            <th>STD</th> -->
          <th>TIME</th>
          <th>MONDAY</th>
          <th>TUESDAY</th>
          <th>WEDNESDAY</th>
          <th>THURSDAY</th>
          <th>FRIDAY</th>
          <th>SATURDAY</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngFor="let time of timeslots; let data of listOfInfo; let w_days of weekdays; let i= index">
              <tr>
                <td>{{time.timeSlot}}</td>
              </tr>
            </ng-container> -->
        <!-- <tr> -->
        <!-- <td rowspan="3" class="first1">1</td>
            <td rowspan="8" class="first1">2</td> -->
        <!-- <td class="subj" *ngFor="let listOfInfo of subjectsdatas[i].listOfInfo;let weekDays subjectsdatas[i].weekDays;let i=index">{{weekDays}}</td> -->
        <!-- <td class="subj">{{subjectsdatas.listOfInfo}}</td> -->
        <!-- <td class="subj" *ngFor="let data of subjectsdatas.listOfInfo ;let weekdays of subjectsdatas.weekDays;let i = index">
              <h1 *ngIf="weekdays == 'monday'">{{weekdays}}</h1>
            </td> -->
        <!-- <td class="subj" *ngFor="let data of subjectsdatas.listOfInfo ;let weekdays of subjectsdatas.weekDays;let i = index">
              <h1 *ngIf="weekdays == 'tuesday'">{{weekdays}}</h1>
            </td>
            <td class="subj" *ngFor="let data of subjectsdatas.listOfInfo ;let weekdays of subjectsdatas.weekDays;let i = index">
              <h1 *ngIf="weekdays == 'friday'">{{weekdays}}</h1>
            </td> -->
        <!-- <td class="subj">SOCIAL</td>
            <td class="subj">HINDI</td>
            <td class="subj">MATHS</td>
            <td class="quiz">Quiz, Game, Activity</td> -->
        <!-- <tr *ngFor="let timetable of timetablearr">
            <td *ngFor="let time of timetable.time">{{time.timeSlot}}</td>
            <td *ngFor="let data of timetable.teacherandsuject.monday.subject_teacher">
              <h1>{{data.subject}}</h1>
              <h1>{{data.teacher}}</h1>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>CLASS TEACHER</td>
          </tr> -->


        <tr *ngFor="let time of timeSlotsDTO">
          <td>
            {{time.timeSlot}}
          </td>
          <td class="monday">
            <h1 class="fs-13 mgb-0">Subject Name:{{monday_even}}</h1>
            <h1 class="fs-13 mgb-0">Teacher Name:{{monday_odd}}</h1>
          </td>
        </tr>


        <tr>
          <td colspan="7" class="text-danger font-weight-bold">
            10MINS REST TIME
          </td>
        </tr>
        <!-- <tr>
            <td rowspan="3" class="first1">2</td>
            <td class="timing">9.10am - 9.40am</td>
            <td class="subj">GUJARATHI</td>
            <td class="subj">ENGLISH</td>
            <td class="subj">SOCIAL</td>
            <td class="subj">HINDI</td>
            <td class="subj">MATHS</td>
            <td class="quiz">Quiz, Game, Activity</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>CLASS TEACHER</td>
          </tr>
          <tr>
            <td colspan="7" class="text-danger font-weight-bold">
              10MINS REST TIME
            </td>
          </tr>

          <tr>
            <td rowspan="2" class="first1">3</td>
            <td class="timing">9.50am - 10.20am</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td>Teacher1</td>
            <td>Teacher2</td>
            <td>Teacher3</td>
            <td>Teacher4</td>
            <td>Teacher5</td>
            <td>Teacher6</td>
          </tr>

          <tr>
            <td rowspan="3" class="first2">1</td>
            <td rowspan="8" class="first2">2</td>
            <td class="timing">8.30am - 9.30am</td>
            <td class="subj">GUJARATHI</td>
            <td class="subj">ENGLISH</td>
            <td class="subj">SOCIAL</td>
            <td class="subj">HINDI</td>
            <td class="subj">MATHS</td>
            <td class="quiz">Quiz, Game, Activity</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>CLASS TEACHER</td>
          </tr>
          <tr>
            <td colspan="7" class="text-danger font-weight-bold">
              10MINS REST TIME
            </td>
          </tr>
          <tr>
            <td rowspan="3" class="first2">2</td>
            <td class="timing">9.10am - 9.40am</td>
            <td class="subj">GUJARATHI</td>
            <td class="subj">ENGLISH</td>
            <td class="subj">SOCIAL</td>
            <td class="subj">HINDI</td>
            <td class="subj">MATHS</td>
            <td class="quiz">Quiz, Game, Activity</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>CLASS TEACHER</td>
          </tr>
          <tr>
            <td colspan="7" class="text-danger font-weight-bold">
              10MINS REST TIME
            </td>
          </tr>

          <tr>
            <td rowspan="2" class="first2">3</td>
            <td class="timing">9.50am - 10.20am</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td>Teacher1</td>
            <td>Teacher2</td>
            <td>Teacher3</td>
            <td>Teacher4</td>
            <td>Teacher5</td>
            <td>Teacher6</td>
          </tr>

          <tr>
            <td rowspan="3" class="first3">1</td>
            <td rowspan="8" class="first3">2</td>
            <td class="timing">8.30am - 9.30am</td>
            <td class="subj">GUJARATHI</td>
            <td class="subj">ENGLISH</td>
            <td class="subj">SOCIAL</td>
            <td class="subj">HINDI</td>
            <td class="subj">MATHS</td>
            <td class="quiz">Quiz, Game, Activity</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>CLASS TEACHER</td>
          </tr>
          <tr>
            <td colspan="7" class="text-danger font-weight-bold">
              10MINS REST TIME
            </td>
          </tr>
          <tr>
            <td rowspan="3" class="first3">2</td>
            <td class="timing">9.10am - 9.40am</td>
            <td class="subj">GUJARATHI</td>
            <td class="subj">ENGLISH</td>
            <td class="subj">SOCIAL</td>
            <td class="subj">HINDI</td>
            <td class="subj">MATHS</td>
            <td class="quiz">Quiz, Game, Activity</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>CLASS TEACHER</td>
          </tr>
          <tr>
            <td colspan="7" class="text-danger font-weight-bold">
              10MINS REST TIME
            </td>
          </tr>

          <tr>
            <td rowspan="2" class="first3">3</td>
            <td class="timing">9.50am - 10.20am</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
            <td>PROBLEM SOLUTION</td>
          </tr>
          <tr>
            <td class="teach_name">TEACHER'S NAME</td>
            <td>Teacher1</td>
            <td>Teacher2</td>
            <td>Teacher3</td>
            <td>Teacher4</td>
            <td>Teacher5</td>
            <td>Teacher6</td>
          </tr> -->
      </tbody>
    </table>
  </div>
</div>